:root {
    --page-background-color:#f1f5f8;
    --title-color :#063251;
    --input-content-color:#757575;
    --input-background-color:#ffffff;
    --button-color:#063352;
    --button-background-color:#063352;
    --button-border-color:#005fcc;
    --generated-text-color:#617e98;
}